@page "/"

<h1>6MaxLayerBurgers</h1>

<p class="font-weight-bold" >This is a Blazor application that allows users to view burgers of 6 layers</p>

<p class="font-weight-bold" >Users can go the distance and add a burger into the application too but if its not that good the team will be forced to remove your burger from the application</p>

<p class="font-weight-bold">Happy Burgering !!!</p>



